<div class="mediaActivity">
    <div class="getloc">
        <a href="##" class="city"><span>当前城市:</span><span class="pos">北京</span></a>
        <a href="##" class="info">类型 时间 地点</a>
    </div>
    <div class="_banner">
        <img src="img/activity-huabian.png" alt=""/>
        <p>首都剧场60年纪念演出 话剧:《哗变》</p>
    </div>
    <div class="column hotact">
        <p class="Title">热门活动 <a href="##" class="more">更多</a></p>
        <div class="content">
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>

            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <div class="img">
                    <div class="text">
                        <p>全部</p>
                        <p class="num">31部</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column hotact">
        <p class="Title">热门活动 <a href="##" class="more">更多</a></p>
        <div class="content">
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>

            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <div class="img">
                    <div class="text">
                        <p>全部</p>
                        <p class="num">31部</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column hotact">
        <p class="Title">热门活动 <a href="##" class="more">更多</a></p>
        <div class="content">
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>

            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <div class="img">
                    <div class="text">
                        <p>全部</p>
                        <p class="num">31部</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column hotact">
        <p class="Title">热门活动 <a href="##" class="more">更多</a></p>
        <div class="content">
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>

            <div class="book_info">
                <img src="img/read-book2.png" alt="tv"/>
                <p class="name">离别的声音</p>
                <p class="pricecompare">
                    <span class="oldprice">15.00</span>
                    <span class="curprice">9.85</span>
                </p>
            </div>
            <div class="book_info">
                <div class="img">
                    <div class="text">
                        <p>全部</p>
                        <p class="num">31部</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
