
<div class="group_homePage">
  <div class="head_one">
      <a href="" class="return"><img src="img/school_left.png" alt=""></a>
      <p>小组主页</p>
      <a href=""><img src="img/school_more.png" alt=""></a>
  </div>
  <div class="small_nav">
      <ul>
          <li><a href="">小组分享</a></li>
          <li><a href="">查看小组简介</a></li>
          <li><a href=""></a>将小组放到桌面</li>
      </ul>
  </div>
  <div class="block"></div>
  <div class="title">
      <dl>
          <dt><img ng-src="{{data.img}}" alt=""></dt>
          <dd>{{data.name}}</dd>
      </dl>
      <p>{{data.intro}}</p>
      <div>
          <img src="img/school_number.png" alt="">
          <span>{{data.memberNum}} 成员 &gt</span>
          <img src="img/schoole_add.png" alt="">
      </div>
  </div>
  <div class="school_nav">
       <ul>
           <li>话题</li>
           <li>群聊</li>
           <li>推荐</li>
           <li><a href=""><img src="img/school_search.png" alt=""></a></li>
       </ul>
  </div>
    <div class="nav_title">
       <div class="huati">
           <div>
               <dl>
                   <dt>
                       <img src="img/school_say1.png" alt="">
                       <span>0</span>
                   </dt>
                   <dd>突然就冷了</dd>
               </dl>
               <p><img src="img/school_user1.png">  一见钟情</p>
           </div>
           <dl class="right">
               <dt><img src="img/school_userone.png" alt="可上传图片"></dt>
               <dd>23秒前更新</dd>
           </dl>
       </div>
       <div class="huati">
           <div>
               <dl>
                   <dt>
                       <img src="img/school_say1.png" alt="">
                       <span>0</span>
                   </dt>
                   <dd>突然就冷了</dd>
               </dl>
               <p><img src="img/school_user2.png">  一见钟情</p>
           </div>
           <dl class="right">
               <dt><img src="img/school_usertwo.png" alt="可上传图片"></dt>
               <dd>23秒前更新</dd>
           </dl>
       </div>
    </div>
</div>
