<div class="home_search">
    <header>
        <div class="search_box">
            <span class="kind">全部</span>
            <input type="text" class="search_text" placeholder="搜索"/>
        </div>
        <div class="search_cancel">取消</div>
    </header>
    <div class="hot_search">
        <p class="title">热门搜索</p>
        <ul class="hot_list">
            <li class="first">爵迹</li>
            <li class="second">湄公河行动</li>
            <li class="third">西部世界 第一季</li>
            <li class="normal">釜山行</li>
            <li class="normal">你的名字</li>
            <li class="normal">麻雀</li>
            <li class="normal">隧道</li>
            <li class="normal">瑞士军刀男</li>
            <li class="normal">从你的全世界路过</li>
        </ul>
    </div>
</div>
