<div class="mediaMovie">
    <div class="Main1">
        <div class="yyry movieMain">
            <div class="movieTop">
                <h3>
                    影院热映
                </h3>
                <p class="moreMovie">
                    <a href="##">
                        更多&nbsp;&gt;
                    </a>
                </p>
            </div>
            <div class="movie1">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <dl class="swiper-slide" ng-repeat="x in data.hotOn">
                            <dt>
                                <img ng-src="{{x.img}}">
                            </dt>
                            <dd  class="omit">{{x.movies}}</dd>
                            <dd>
                                <img ng-src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-halfstar.png">
                                <span>{{x.score}}</span>
                            </dd>
                        </dl>
                        <dl class="swiper-slide">
                            <dt>
                            <p>
                                全部
                            </p>
                            <p class="all">
                                {{data.hotNum}}部
                            </p>
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="jjsy movieMain">
            <div class="movieTop">
                <h3>
                    影院即将上映
                </h3>
                <p class="moreMovie">
                    <a href="##">
                        更多&nbsp;&gt;
                    </a>
                </p>
            </div>
            <div class="movie2">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <dl ng-repeat="y in data.readyOn" class="swiper-slide">
                            <dt>
                                <img ng-src="{{y.img}}">
                            </dt>
                            <dd  class="omit">
                                {{y.movies}}
                            </dd>
                            <dd>
                        <span>
                            {{y.wooerNum}}人想看
                        </span>
                            </dd>
                        </dl>
                        <dl class="swiper-slide">
                            <dt>
                            <p>
                                全部
                            </p>
                            <p class="all">
                                {{data.readyNum}}部
                            </p>
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="jxbd movieMain">
            <div class="movieTop">
                <h4>
                    精选榜单
                </h4>
            </div>
            <div class="movie3">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <a href="##" class="swiper-slide">
                            <img src="img/booksOrPhotocopies-jx1.png">
                        </a>
                        <a href="##" class="swiper-slide">
                            <img src="img/booksOrPhotocopies-jx2.png">
                        </a>
                        <a href="##" class="swiper-slide">
                            <img src="img/booksOrPhotocopies-jx1.png">
                        </a>
                        <a href="##" class="swiper-slide">
                            <img src="img/booksOrPhotocopies-jx2.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dbc movieMain">
            <div class="movieTop">
                <h3>
                    豆瓣猜
                </h3>
            </div>
            <div class="movie4">
                <dl ng-repeat="z in data.beanGuess">
                    <dt>
                        <img ng-src="{{z.img}}">
                    </dt>
                    <dd class="omit">
                        {{z.movies}}
                    </dd>
                    <dd>
                        <img src="img/booksOrPhotocopies-allstar.png">
                        <img src="img/booksOrPhotocopies-allstar.png">
                        <img src="img/booksOrPhotocopies-allstar.png">
                        <img src="img/booksOrPhotocopies-halfstar.png">
                        <img src="img/booksOrPhotocopies-emptystar.png">
                        <span>
                            {{z.score}}
                        </span>
                    </dd>
                </dl>
            </div>
            <p class="refresh">
                <a href="##">
                    <img src="img/booksOrPhotocopies-refresh.png">
                    换一批
                </a>
            </p>
        </div>
        <div class="cinecism movieMain">
            <div class="movieTop">
                <h3>
                    最受欢迎影评
                </h3>
                <p class="moreMovie">
                    <a href="##">
                        更多&nbsp;&gt;
                    </a>
                </p>
            </div>
            <div class="review" ng-repeat="t in data.cinecism">
                <div class="reviewWords">
                    <p class="title">{{t.title}}</p>
                    <p class="feel">
                        {{t.content}}
                    </p>
                    <p class="line">
                    <p class="view">
                        <span class="viewer">
                            {{t.user}}&nbsp;
                        </span>
                        评论
                        <span class="film">
                            {{t.filmName}}
                        </span>
                    </p>
                </div>
                <p class="poster">
                    <img ng-src="{{t.img}}">
                </p>
            </div>
        </div>
        <div class="choose">
            <h3>
                选电影
            </h3>
            <div class="options">
                <p class="chooser">
                <span>
                    经典
                </span>
                    <span>
                    冷门佳片
                </span>
                    <span>
                    豆瓣高分
                </span>
                </p>
                <p class="chooser">
                <span>
                    动作
                </span>
                    <span>
                    喜剧
                </span>
                    <span>
                    爱情
                </span>
                    <span>
                    悬疑
                </span>
                    <span>
                    恐怖
                </span>
                    <span>
                    科幻
                </span>
                    <span>
                    治愈
                </span>
                    <span>
                    文艺
                </span>
                    <span>
                     成长
                </span>
                    <span>
                    动画
                </span>
                </p>
                <p class="chooser">
                <span>
                    华语
                </span>
                    <span>
                    欧美
                </span>
                    <span>
                    韩国
                </span>
                    <span>
                    日本
                </span>
                </p>
            </div>
        </div>
        <div class="find">
            <div class="findTop">
                <div class="bangDan">
                    <h3>
                        发现好电影
                    </h3>
                    <p>
                        豆瓣网友制作的电影榜单
                    </p>
                </div>
                <p class="findMore">
                    <a href="##">
                        更多&nbsp;&gt;
                    </a>
                </p>
            </div>
            <div class="content">
                <div class="movTitle">
                    <p class="movName">
                        同时入选IMDB250和豆瓣250的电影
                    </p>
                    <span>
                        115129收藏
                    </span>
                </div>
                <div class="pic">
                    <img src="img/booksOrPhotocopies-select1.png">
                </div>
            </div>
            <div class="content">
                <div class="movTitle">
                    <p class="movName">
                        带你进入不正常的世界
                    </p>
                    <span>
                        30019收藏
                    </span>
                </div>
                <div class="pic">
                    <img src="img/booksOrPhotocopies-select2.png">
                </div>
            </div>
            <div class="content">
                <div class="movTitle">
                    <p class="movName">
                        用电【影】来祭奠逝去的岁月
                    </p>
                    <span>
                        12125收藏
                    </span>
                </div>
                <div class="pic">
                    <img src="img/booksOrPhotocopies-select3.png">
                </div>
            </div>
            <div class="content">
                <div class="movTitle">
                    <p class="movName">
                        同时入选IMDB250和豆瓣250的电影
                    </p>
                    <span>
                        115129收藏
                    </span>
                </div>
                <div class="pic">
                    <img src="img/booksOrPhotocopies-select1.png">
                </div>
            </div>
        </div>
    </div>
</div>