.mediaMovie {
  padding-top: 3.125rem;
}
.mediaMovie .Main1 .jxbd {
  font-size: 0;
  background-color: white;
  margin-top: 0.453125rem;
}
.mediaMovie .Main1 .jxbd .movieTop {
  height: 1.90625rem;
  line-height: 1.90625rem;
}
.mediaMovie .Main1 .jxbd .movieTop h4 {
  font-size: 0.5rem;
  font-weight: normal;
  display: inline-block;
}
.mediaMovie .Main1 .jxbd .movie3 {
  overflow: hidden;
  white-space: nowrap;
  height: 5rem;
}
.mediaMovie .Main1 .jxbd .movie3 a {
  display: inline-block;
  margin-right: 0.265625rem;
  width: 4.265625rem;
}
.mediaMovie .Main1 .jxbd .movie3 a img {
  width: 4.265625rem;
  height: 4.265625rem;
}
.mediaMovie .Main1 .dbc .movie4 {
  white-space: normal;
  overflow: visible;
  padding-right: 0;
}
.mediaMovie .Main1 .dbc .movie4 dl:nth-of-type(3n) {
  margin-right: 0;
}
.mediaMovie .Main1 .dbc .movie4 dl:last-of-type dt {
  padding: 0;
}
.mediaMovie .Main1 .dbc .refresh {
  height: 1.09375rem;
  width: 100%;
  text-align: center;
  font-size: 0.40625rem;
  color: #9c9c9c;
}
.mediaMovie .Main1 .dbc .refresh img {
  width: 0.5rem;
  height: 0.4375rem;
}
.mediaMovie .Main1 .cinecism .movieTop {
  height: 1.390625rem;
}
.mediaMovie .Main1 .cinecism .review {
  height: 4.28125rem;
  padding-top: 0.53125rem;
}
.mediaMovie .Main1 .cinecism .review .reviewWords {
  float: left;
  width: 6.4375rem;
  padding-left: 0.40625rem;
}
.mediaMovie .Main1 .cinecism .review .reviewWords .title {
  font-size: 0.546875rem;
  color: #494949;
  line-height: 0.75rem;
}
.mediaMovie .Main1 .cinecism .review .reviewWords .feel {
  font-size: 0.375rem;
  color: #9b9b9b;
  line-height: 0.5625rem;
  margin-top: 0.09375rem;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical;
  /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 2;
  /** 显示的行数 **/
  overflow: hidden;
  /** 隐藏超出的内容 **/
}
.mediaMovie .Main1 .cinecism .review .reviewWords .line {
  width: 1.25rem;
  height: 0.03125rem;
  background-color: #d8d8d8;
  margin-top: 0.34375rem;
  margin-bottom: 0.3125rem;
}
.mediaMovie .Main1 .cinecism .review .reviewWords .view {
  font-size: 0.3125rem;
  color: #a2a2a2;
}
.mediaMovie .Main1 .cinecism .review .poster {
  float: right;
  width: 3.15625rem;
  height: 4.28125rem;
  text-align: center;
}
.mediaMovie .Main1 .cinecism .review .poster img {
  width: 2.34375rem;
  height: 3.28125rem;
}
.mediaMovie .Main1 .choose {
  height: 10.7rem;
  font-size: 0;
  background-color: white;
  margin-top: 0.453125rem;
}
.mediaMovie .Main1 .choose h3 {
  font-size: 0.5rem;
  font-weight: normal;
  padding-left: 0.40625rem;
  padding-right: 0.40625rem;
  line-height: 1.90625rem;
}
.mediaMovie .Main1 .choose .options {
  background-color: white;
}
.mediaMovie .Main1 .choose .options > p:nth-of-type(1),
.mediaMovie .Main1 .choose .options > p:nth-of-type(2) {
  border-bottom: 0.03125rem solid #ebebeb;
}
.mediaMovie .Main1 .choose .options .chooser {
  font-size: 0.40625rem;
  color: #42bd56;
  padding-bottom: 0.453125rem;
}
.mediaMovie .Main1 .choose .options .chooser span {
  white-space: nowrap;
  padding: 0.21875rem 0.4375rem;
  border: 0.015625rem solid #42bd56;
  border-radius: 5.46875rem;
  margin-left: 0.4375rem;
  margin-top: 0.4375rem;
  display: inline-block;
}
.mediaMovie .Main1 .find {
  font-size: 0;
  background-color: white;
  margin-top: 0.453125rem;
}
.mediaMovie .Main1 .find .findTop {
  height: 1.90625rem;
  line-height: 1.90625rem;
  padding: 0 0.40625rem;
}
.mediaMovie .Main1 .find .findTop .bangDan {
  font-size: 0.5rem;
  font-weight: normal;
  display: inline-block;
}
.mediaMovie .Main1 .find .findTop .bangDan h3 {
  font-size: 0.5rem;
  font-weight: normal;
  display: inline-block;
}
.mediaMovie .Main1 .find .findTop .bangDan > p {
  font-size: 0.390625rem;
  color: #9b9b9b;
  margin-top: -0.3125rem;
  line-height: 0;
}
.mediaMovie .Main1 .find .findTop .findMore {
  float: right;
  font-size: 0.40625rem;
  margin-left: 3.5rem;
}
.mediaMovie .Main1 .find .findTop .findMore a {
  color: #42bd56;
}
.mediaMovie .Main1 .find .content {
  border-top: 0.03125rem solid #acacac;
  height: 2.5625rem;
  padding: 0.46875rem 0.40625rem;
}
.mediaMovie .Main1 .find .content .movTitle {
  float: left;
}
.mediaMovie .Main1 .find .content .movTitle .movName {
  width: 5.75rem;
  font-size: 0.5rem;
  color: #494949;
  line-height: 0.71875rem;
  margin-bottom: 0.3125rem;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical;
  /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 3;
  /** 显示的行数 **/
  overflow: hidden;
  /** 隐藏超出的内容 **/
}
.mediaMovie .Main1 .find .content .movTitle span {
  font-size: 0.390625rem;
  color: #acacac;
}
.mediaMovie .Main1 .find .content .pic {
  float: right;
  width: 2.5625rem;
  height: 2.5625rem;
}
.mediaMovie .Main1 .find .content .pic img {
  width: 2.5625rem;
  height: 2.5625rem;
}
.mediaMovie .Main1 .find > div:nth-of-type(2) {
  border: none;
}
