<div class="mediaMusic">
    <div class="Main1">
        <div class="yyry movieMain">
            <div class="movieTop">
                <h3>
                    华语新碟榜
                </h3>
                <p class="moreMovie">
                    <a href="##">
                        更多&nbsp;&gt;
                    </a>
                </p>
            </div>
            <div class="movie1">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <dl class="swiper-slide" ng-repeat="x in data.music.huayuxindiebang">
                            <dt>
                                <img ng-src="{{x.url}}">
                            </dt>
                            <dd  class="omit">{{x.music_name}}</dd>
                            <dd class="singer">{{x.singer}}</dd>
                            <dd>
                                <img ng-src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-halfstar.png">
                                <span>{{x.evaluate}}</span>
                            </dd>
                        </dl>
                        <dl class="swiper-slide">
                            <dt>
                                <p>
                                    全部
                                </p>
                                <p class="all">
                                    {{data.music.huayuTotal}}张
                                </p>
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="jjsy movieMain">
            <div class="movieTop">
                <h3>
                    欧美新碟榜
                </h3>
                <p class="moreMovie">
                    <a href="##">
                        更多&nbsp;&gt;
                    </a>
                </p>
            </div>
            <div class="movie2">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <dl class="swiper-slide" ng-repeat="x in data.music.oumeixindiebang">
                            <dt>
                                <img ng-src="{{x.url}}">
                            </dt>
                            <dd  class="omit">{{x.music_name}}</dd>
                            <dd class="singer">{{x.singer}}</dd>
                            <dd>
                                <img ng-src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-halfstar.png">
                                <span>{{x.evaluate}}</span>
                            </dd>
                        </dl>
                        <dl class="swiper-slide">
                            <dt>
                            <p>
                                全部
                            </p>
                            <p class="all">
                                {{data.music.oumeiTotal}}张
                            </p>
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="jjsy movieMain">
            <div class="movieTop">
                <h3>
                    日韩新碟榜
                </h3>
                <p class="moreMovie">
                    <a href="##">
                        更多&nbsp;&gt;
                    </a>
                </p>
            </div>
            <div class="movie2">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <dl class="swiper-slide" ng-repeat="x in data.music.rihanxindiebang">
                            <dt>
                                <img ng-src="{{x.url}}">
                            </dt>
                            <dd  class="omit">{{x.music_name}}</dd>
                            <dd class="singer">{{x.singer}}</dd>
                            <dd>
                                <img ng-src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-halfstar.png">
                                <span>{{x.evaluate}}</span>
                            </dd>
                        </dl>
                        <dl class="swiper-slide">
                            <dt>
                            <p>
                                全部
                            </p>
                            <p class="all">
                                {{data.music.rihanTotal}}张
                            </p>
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="jjsy movieMain">
            <div class="movieTop">
                <h3>
                    热门单曲榜
                </h3>
                <p class="moreMovie">
                    <a href="##">
                        更多&nbsp;&gt;
                    </a>
                </p>
            </div>
            <div class="movie2">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <dl class="swiper-slide" ng-repeat="x in data.music.remendanqubang">
                            <dt>
                                <img ng-src="{{x.url}}">
                            </dt>
                            <dd  class="omit">{{x.music_name}}</dd>
                            <dd class="singer">{{x.singer}}</dd>
                            <dd>
                                <img ng-src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-allstar.png">
                                <img src="img/booksOrPhotocopies-halfstar.png">
                                <span>{{x.evaluate}}</span>
                            </dd>
                        </dl>
                        <dl class="swiper-slide">
                            <dt>
                            <p>
                                全部
                            </p>
                            <p class="all">
                                {{data.music.remenTotal}}张
                            </p>
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="dbc movieMain">
            <div class="movieTop">
                <h3>
                    豆瓣猜
                </h3>
            </div>
            <div class="movie4">
                <dl ng-repeat="x in data.music.doubancai">
                    <dt>
                        <img ng-src="{{x.url}}">
                    </dt>
                    <dd class="omit">
                        {{x.music_name}}
                    </dd>
                    <dd class="singer">
                        {{x.singer}}
                    </dd>
                    <dd>
                        <img src="img/booksOrPhotocopies-allstar.png">
                        <img src="img/booksOrPhotocopies-allstar.png">
                        <img src="img/booksOrPhotocopies-allstar.png">
                        <img src="img/booksOrPhotocopies-halfstar.png">
                        <img src="img/booksOrPhotocopies-emptystar.png">
                        <span>
                            {{x.evaluate}}
                        </span>
                    </dd>
                </dl>
            </div>
            <p class="refresh">
                <a href="##">
                    <img src="img/booksOrPhotocopies-refresh.png">
                    换一批
                </a>
            </p>
        </div>
        <div class="cinecism movieMain">
            <div class="movieTop">
                <h3>
                    最受欢迎乐评
                </h3>
                <p class="moreMovie">
                    <a href="##">
                        更多&nbsp;&gt;
                    </a>
                </p>
            </div>
            <div class="review" ng-repeat="t in data.music.yueping">
                <div class="reviewWords">
                    <p class="title">{{t.title}}</p>
                    <p class="feel">
                        {{t.content}}
                    </p>
                    <p class="line">
                    <p class="view">
                        <span class="viewer">
                            {{t.reviewer}}&nbsp;
                        </span>
                        评论
                        <span class="film">
                            {{t.music}}
                        </span>
                    </p>
                </div>
                <p class="poster">
                    <img ng-src="{{t.url}}">
                </p>
            </div>
        </div>
        <div class="choose">
            <h3>
                选音乐
            </h3>
            <div class="options">
                <p class="chooser">
                    <span>流行</span>
                    <span>摇滚</span>
                    <span>民谣</span>
                    <span>独立</span>
                </p>
                <p class="chooser">
                    <span>华语</span>
                    <span>欧美</span>
                    <span>日本</span>
                    <span>韩国</span>
                </p>
            </div>
        </div>
        <div class="find">
            <div class="findTop">
                <div class="bangDan">
                    <h3>
                        发现好音乐
                    </h3>
                    <p>
                        豆瓣网友制作的音乐榜单
                    </p>
                </div>
                <p class="findMore">
                    <a href="##">
                        更多&nbsp;&gt;
                    </a>
                </p>
            </div>
            <div class="content">
                <div class="movTitle">
                    <p class="movName">
                        同时入选IMDB250和豆瓣250的电影
                    </p>
                    <span>
                        115129收藏
                    </span>
                </div>
                <div class="pic">
                    <img src="img/booksOrPhotocopies-select1.png">
                </div>
            </div>
            <div class="content">
                <div class="movTitle">
                    <p class="movName">
                        带你进入不正常的世界
                    </p>
                    <span>
                        30019收藏
                    </span>
                </div>
                <div class="pic">
                    <img src="img/booksOrPhotocopies-select2.png">
                </div>
            </div>
            <div class="content">
                <div class="movTitle">
                    <p class="movName">
                        用电【影】来祭奠逝去的岁月
                    </p>
                    <span>
                        12125收藏
                    </span>
                </div>
                <div class="pic">
                    <img src="img/booksOrPhotocopies-select3.png">
                </div>
            </div>
            <div class="content">
                <div class="movTitle">
                    <p class="movName">
                        同时入选IMDB250和豆瓣250的电影
                    </p>
                    <span>
                        115129收藏
                    </span>
                </div>
                <div class="pic">
                    <img src="img/booksOrPhotocopies-select1.png">
                </div>
            </div>
        </div>
    </div>
</div>