<div class="programa">
    <header>
        <div class="return"></div>
        <span class="title">栏目</span>
    </header>
    <div class="list">
        <div class="item modBook">
            <dl ng-click="toProvideId('0001')">
                <dt class="book_photo"></dt>
                <dd class="item_title">一周热门图书</dd>
                <dd class="item_intro">每周为你推荐豆瓣上最热门的图书</dd>
            </dl>
        </div>
        <div class="item">
            <dl ng-click="toProvideId('0002')">
                <dt class="night_photo"></dt>
                <dd class="item_title">今晚我有空</dd>
                <dd class="item_intro">综述一周电视和网络节目，帮你度过愉快的空闲时光。</dd>
            </dl>
        </div>
        <div class="item">
            <dl ng-click="toProvideId('0003')">
                <dt class="week_photo"></dt>
                <dd class="item_title">周末去哪儿</dd>
                <dd class="item_intro">为你推荐有趣的活动、展览、演出……周末不愁没去处。</dd>
            </dl>
        </div>
        <div class="item">
            <dl ng-click="toProvideId('0004')">
                <dt class="movie_photo"></dt>
                <dd class="item_title">本周影院在映</dd>
                <dd class="item_intro">又到周末!影院都有哪些电影在映?哪部电影最值得看?</dd>
            </dl>
        </div>
        <div class="item">
            <dl ng-click="toProvideId('0005')">
                <dt class="film_photo"></dt>
                <dd class="item_title">一周热门影视</dd>
                <dd class="item_intro">包括热门电影榜、热门电视剧榜、热门综艺榜。数据来自豆瓣用户的评...</dd>
            </dl>
        </div>
        <div class="item">
            <dl ng-click="toProvideId('0006')">
                <dt class="music_photo"></dt>
                <dd class="item_title">豆瓣音乐周刊</dd>
                <dd class="item_intro">介绍一周乐坛大事，推荐几首好歌。</dd>
            </dl>
        </div>
        <div class="item">
            <dl ng-click="toProvideId('0007')">
                <dt class="txt_photo"></dt>
                <dd class="item_title">周二读小说</dd>
                <dd class="item_intro">周二为你推荐原创短篇小说，引人入胜，轻松易读。</dd>
            </dl>
        </div>
        <div class="item">
            <dl ng-click="toProvideId('0008')">
                <dt class="shortFilm_photo"></dt>
                <dd class="item_title">短片精选</dd>
                <dd class="item_intro">为你推荐优秀短片，三五分钟，妙趣横生。</dd>
            </dl>
        </div>
        <div class="item">
            <dl ng-click="toProvideId('0009')">
                <dt class="broadcast_photo"></dt>
                <dd class="item_title">广播精选</dd>
                <dd class="item_intro">豆瓣用户们分享的趣事异闻，奇思妙想。</dd>
            </dl>
        </div>
        <div class="item">
            <dl ng-click="toProvideId('0010')">
                <dt class="shoot_photo"></dt>
                <dd class="item_title">摄影有温度</dd>
                <dd class="item_intro">一组图片和它背后的故事。</dd>
            </dl>
        </div>
        <div class="item">
            <dl ng-click="toProvideId('0011')">
                <dt class="version_photo"></dt>
                <dd class="item_title">眼界</dd>
                <dd class="item_intro">从图片中看世界。</dd>
            </dl>
        </div>
        <div class="item">
            <dl ng-click="toProvideId('0012')">
                <dt class="self_photo"></dt>
                <dd class="item_title">自我研习所</dd>
                <dd class="item_intro">从今天起，与自己和平相处吧。</dd>
            </dl>
        </div>
    </div>
</div>
