<div class="mine-setting">
	<header>
		<a ui-sref="mine"><img src="img/setting_return.png" alt="返回" /></a>
		<h1>设置</h1>
	</header>
	<div class="lists">
		<div class="empty"></div>
		<ul class="contents">
			<a href=""><li>推送</li></a>
			<a href=""><li>兴趣标签</li></a>
		</ul>
		<div class="empty"></div>
		<ul class="contents">
			<a href=""><li>绑定手机号</li></a>
			<a href=""><li>修改密码</li></a>
		</ul>
		<div class="empty"></div>
		<ul class="contents">
			<a href=""><li class="cache">清除缓存<span>5.3M</span></li></a>
		</ul>
		<div class="empty"></div>
		<ul class="contents">
			<a href=""><li class="idea">意见反馈<span>来尽情吐槽吧</span></li></a>
			<a href=""><li>常见问题</li></a>
		</ul>
		<div class="empty"></div>
		<ul class="contents">
			<a href=""><li>给应用评分</li></a>
			<a href=""><li>新功能介绍</li></a>
			<a href=""><li>关于</li></a>
		</ul>
		<div class="empty"></div>
		<div class="exit" ng-show="logstatus">
			<ul class="contents">
				<a href="##"><li class="logout">退出登录</li></a>
			</ul>
			<div class="empty"></div>
		</div>
	</div>
</div>
