<div class="chat">
    <header>
        <div class="return"></div>
        <span class="title">聊天</span>
        <div class="launch_dialogue"></div>
    </header>
    <div class="dialogue">
        <div class="item">
            <dl>
                <dt></dt>
                <dd class="item_title">豆瓣
                    <time>5小时前</time>
                </dd>
                <dd class="item_intro">欢迎使用豆瓣</dd>
            </dl>
        </div>

        <div class="item">
            <dl>
                <dt></dt>
                <dd class="item_title">豆瓣
                    <time>5小时前</time>
                </dd>
                <dd class="item_intro">欢迎使用豆瓣</dd>
            </dl>
        </div>

        <div class="item">
            <dl>
                <dt></dt>
                <dd class="item_title">豆瓣
                    <time>5小时前</time>
                </dd>
                <dd class="item_intro">欢迎使用豆瓣</dd>
            </dl>
        </div>

        <div class="item">
            <dl>
                <dt></dt>
                <dd class="item_title">豆瓣
                    <time>5小时前</time>
                </dd>
                <dd class="item_intro">欢迎使用豆瓣</dd>
            </dl>
        </div>
    </div>
</div>
