<div class="broadcast">
  <div class="head">
      <p>广播</p>
      <a ui-sref="broadcast_searchPage"><img src="img/broadcast_search.png"></a>
      <a ui-sref="chat"><img src="img/broadcast_say.png"></a>
  </div>
  <div class="share">
      <div>
          <img src="img/broadcast_name.png">
          <p>发条广播分享心情吧...</p>
          <img src="img/broadcast_write.png">
      </div>
      <a href=""> <img src="img/broadcast_camera.png"></a>
  </div>
  <div class="content">
      <img src="img/broadcast_content.png" alt="">
  </div>
</div>
