<div class="group_searchPage">
  <div class="search">
      <input type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜索小组、话题">
      <img src="img/bsp_search.png" >
      <div class="cancel">取消</div>
  </div>
  <div class="block"></div>
  <div class="hot_search">热门搜索</div>
  <div class="hot_searchContent">
      <ul>
          <a href=""><li>相亲 吐槽</li></a>
          <a href=""><li>太他妈</li></a>
          <a href=""><li>什么是丧尸</li></a>
          <a href=""><li>星泽社</li></a>
          <a href=""><li>郭德纲</li></a>
          <a href=""><li>折腾男友</li></a>
          <a href=""><li>我失恋了</li></a>
          <a href=""><li>相亲 吐槽</li></a>
          <a href=""><li>太他妈</li></a>
          <a href=""><li>什么是丧尸</li></a>
          <a href=""><li>星泽社</li></a>
          <a href=""><li>郭德纲</li></a>
          <a href=""><li>折腾男友</li></a>
          <a href=""><li>我失恋了</li></a>
          <a href=""><li>相亲 吐槽</li></a>
          <a href=""><li>太他妈</li></a>
          <a href=""><li>什么是丧尸</li></a>
          <a href=""><li>星泽社</li></a>
          <a href=""><li>郭德纲</li></a>
          <a href=""><li>折腾男友</li></a>
          <a href=""><li>我失恋了</li></a>
          <a href=""><li>相亲 吐槽</li></a>
          <a href=""><li>太他妈</li></a>
          <a href=""><li>什么是丧尸</li></a>
          <a href=""><li>星泽社</li></a>
          <a href=""><li>郭德纲</li></a>
          <a href=""><li>折腾男友</li></a>
          <a href=""><li>我失恋了</li></a>
      </ul>
  </div>
</div>
